if flash    
    .flash
        if flash.success.length
            .alert.alert-success= flash.success.join("\n") 
        if flash.success.length
            .alert.alert-danger= flash.error.join("\n")