extends ../layouts/main.pug

block content
  h1#my-unique-id Group and Project Information


  p.intro-text(data-attr="my value") List for the task you want to do
  p Get to know us.
    ul
      li Moe
      li Noor
      li Steven
      li Lalit