<!DOCTYPE html>
<html>
    <head>
        <title> About </title>
    </head>
    <link href="css/style.css" rel= "stylesheet">
    <body>

            <nav role="navigation">
              <ul>
                <li><a href="Home" title="Back to the home page">Home</a></li>
                <li><a href="About" title="About the Group">About</a></li>
                <li><a href="Contact" title="Contact information of group">Contact Us</a></li>
              </ul>
            </nav>
                  
        <h1>
      About Project
        </h1>

        <p>
       This project is based on the To do list. Here you can make the list of the things you want to do and delete them as soon as it is done. It is really useful app that will help you maintain your work balance.
        </p>
    
    </body>
</html>