extends ../layouts/main.pug

block content

  h1#my-unique-id Contact us  

  p.intro-text(data-attr="my value") For contacting please email Us 
  p For contacting Sexy Moe= 200387536@georgianc.on.ca
  p For contacting Lalit= 200395019@georgianc.on.ca
  p For contacting Noor= Noor.Chaudhary@georgianc.on.ca
  p For contacting Steven= Stevencaird89@gmail.com