<!DOCTYPE html>
<html>
    <head>
        <title> Contact </title>
    </head>
    <link href="../../assets/stylesheets/style.css" rel= "stylesheet">
    <body>
            <nav role="navigation">
                    <ul>
                      <li><a href="Home.html" title="Back to the home page">Home</a></li>
                      <li><a href="About.html" title="About the Group">About</a></li>
                      <li><a href="Contact.html" title="Contact information of group">Contact Us</a></li>
                    </ul>
                  </nav>
                  
        <h1>
      Contact Information
        </h1>
     <article>
     Lalit: <a href = "mailto:Lalit.Sharma@georgianc.on.ca">Lalit.Sharma@georgianc.on.ca</a></br>
     Moe: <a href = "mailto:200387536@georgianc.on.ca">200387536@georgianc.on.ca</a></br>
     Noor: <a href = "mailto:Noor.Chaudhary@georgianc.on.ca">Noor.Chaudhary@georgianc.on.ca</a></br>
     Steven: <a href = "mailto:Steven.Caird@georgianc.on.ca">Steven.Caird@georgianc.on.ca</a></br>
    </article>
    
    </body>
</html>