<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> List </title>
    </head>
    <link href="css/style.css" rel= "stylesheet">

    <body>
      <div class="navbar">
        <a href="Home">Home</a>
        <a href="About">About</a>
        <a href="Contact">Contact</a>
        <div class="dropdown">
          <button class="dropbtn">To Do 
            <i class="button"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div> 
      </div>
        <h1> To do list </h1>
        </body>
</html>