<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> List </title>
    </head>
    <link href="css/style.css" rel= "stylesheet">

    <body>
        <nav role="navigation">
            <ul>
              <li><a href="Home" title="Back to the home page">Home</a></li>
              <li><a href="About" title="About the Group">About</a></li>
              <li><a href="Contact" title="Contact information of group">Contact Us</a></li>
              <li><a href="../tasks/index.html" title="Task List">Tasks List</a></li>
              <li><a href="../tasks/form.html" title="New Task">New Task</a></li>
            </ul>
          </nav>
        <h1> To do list </h1>
        </body>
</html>