<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> List </title>
    </head>
    <link href="css/style.css" rel= "stylesheet">

    <body>
        <nav role="navigation">
            <ul>
              <li><a href="home.html" title="Back to the home page">Home</a></li>
              <li><a href="about.html" title="About the Group">About</a></li>
              <li><a href="contact.html" title="Contact information of group">Contact Us</a></li>
            </ul>
          </nav>
        <h1> To do list </h1>
        </body>
</html>